name: Build and Push to GHCR

on:
  push:
    branches: [ "main" ]
    tags:
      - v**

jobs:
  # Build and push containers to GitHub Container Registry
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/helioviewer-project/coordinator
        # generate Docker tags based on the tagged release
        tags: type=semver,pattern={{version}}
    - name: Build and push Docker images
      uses: docker/build-push-action@v5.3.0
      with:
        # Build's context is the set of files located in the specified PATH or URL
        context: app
        # List of target platforms for build
        platforms: linux/amd64,linux/arm64
        # List of tags
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        # Only push containers on version tags
        push: ${{ github.event_name == 'push' && github.ref_type == 'tag'}}
